@page "/movies/create"
@inject NavigationManager navigationManager
@inject IMovieRepository movieRepository
@inject IGenreRepository genreRepository
<h3>CreateMovie</h3>

@if (NotSelectedGenres != null)
{
    <MovieForm Movie="Movie" OnValidSubmit="SaveMovie" NotSelectedGenres="NotSelectedGenres" />
}

@code {
    private Movie Movie = new Movie();

    private List<Genre> NotSelectedGenres;

    protected async override Task OnInitializedAsync()
    {
        NotSelectedGenres = await genreRepository.GetGenres();
    }

    private async Task SaveMovie()
    {
        try
        {
            var movieId = await movieRepository.CreateMovie(Movie);
            navigationManager.NavigateTo($"movie/{movieId}/{Movie.Title.Replace("", "-")}");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }
}
