@page "/genre/create"
<h3>CreateGenere</h3>

<GenreForm Genre="genre" OnValidSubmit="Create" />

@code {
    private Genre genre = new Genre();

    private void Create()
    {
        Console.WriteLine("create method");
        Console.WriteLine(genre.Name);
    }
}
